.agent-component {
  font-family: "Open Sans", sans-serif;
  background: -webkit-linear-gradient(
    -45deg,
    rgba(204, 211, 217, 0.9) 45%,
    rgb(10, 77, 119) 0%
  );
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  border-left: 1px #cfd7df solid;
}

.agent-component img {
  height: 25rem;
  margin: 14rem 5rem 0 0;
}

.agent-component h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #0a4d77;
  font-size: 4rem;
  margin: 5rem 5rem 0 5rem;
}
