@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.cd-container{
    height: 675px;
    background-color: #ecedf1;
    margin: 10px 10px 0 10px;
    flex-direction: column;
    text-align: center;
}

.cd-container h6{
    font-weight: bold;
    font-family: Roboto;
    color: #00485e;
    font-size: 1.2rem;
    padding: 2px 0 0 0;
}