.customer-component{
    background-color: #ecedf1;
    height: 100%;
    overflow-y: hidden;
    border-left: 1px #cfd7df solid;
}

.customer-component-row2{
    display: flex;
}

.customer-component-row3{
    display: flex;
}